.button{
    color: white;
    font-family: "ChocolateBox";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
}
.buttons__content{
    z-index: -10;
    margin-top: 13px;
    min-height: 53px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top:1px white solid;
    border-bottom:1px white solid;
}
.button:hover{
    color: #E2B024;
    text-decoration: underline;
}
@media screen and (max-width: 800px) {
    .button{
        width: 20%;
        font-size: 12px;
    }
}
