.futuredproducts{
    margin-bottom: 95px;
    font-family: "ChocolateBox";
    font-size: 48px;
    font-weight: 400;
    transition: .5s;
}
.future .futuredproducts{
    margin-top: 151px;
}
.future__wines{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    min-height: 432px;
}
.future__products{
    cursor: default;
    color: #E2B024;
    transition: .4s;
}
.future__futured{
    cursor: default;
}
.futuredproducts:hover .future__futured{
    color: #E2B024;
}
.futuredproducts:hover .future__products{
    color: white;
}
.future__content{
    flex-direction: column;
    align-items: center;
}
.future__button{
    color: white;
    font-family: "ChocolateBox";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}
.future__buttons{
    max-width:417px;
    min-height: 53px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    border-bottom:1px solid white;
    font-family: "poppins";
}
.future__button:hover{
    color: #E2B024;
    text-decoration: underline;
}
.wine__pricedo{
    margin-right: 5px;
}
.sell{
    font-family: "poppins";
    font-size: 14px;
}
.yellow__box{
    height: 40px;
    min-width: 81px;
    margin-top: 15px;
    background: #E2B024 ;
    align-items: center;
    justify-content: center;
}
.wine__name{
    font-family: "ChocolateBox";
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    line-height: 14px;
}
.wine__price{
    font-family: "Poppins";
    font-weight: 300;
    font-size: 16px;
    color: #E2B024;
}
.wine__part{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-right:25px;
}   
.wines__view{
    justify-content: center;
}
.wines__viewmore{
    margin-top: 75px;
    font-family: "ChocolateBox";
    font-size: 18px;
    font-weight: 400;
    color: #E2B024;
    margin-bottom: 174px;
    transition: .4s;
}
.wines__viewmore:hover{
    color: white;
}
.sell{
    font-family: "poppins";
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.wrapper{
    min-height: 100%;
    position: relative;
    
}
.tabs__block{
    display: none;
    position: relative;
}
.tabs__items{
    justify-content: center;
    flex-wrap: nowrap;
}
.tabs__width{
    border-bottom: 1px solid white;
    margin-bottom: 89px ;
}
.tabs__item{
    margin: 0 30px;
    height: 36px;
    justify-content: center;
    align-items: center;
    text-decoration: none ;
    font-size: 24px;
    font-family: "poppins";
    font-weight: 400;
    color: white;
}
.tabs__block:target{
    display: block;
}

.wines__full{
    margin-right: 30px;
    flex-wrap: wrap;
}