.review{
    background: url(../img/review_bg.png) center no-repeat; 
    min-height: 774px; 
}
.review__opacity{
    background: rgba(0, 0, 0, 0.8);
    min-height: 774px; 
    align-items: center;
}
.review__content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.review__info{
    text-align: center;
    max-width: 880px;
    font-family: "poppins";
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
}
.review__name{
    font-family: "poppins";
    font-weight: bold;
    font-size: 24px;
}
.review__title{
    transition: .5s;
    margin-bottom: 58px;
    font-family: "ChocolateBox";
    font-size: 48px;
    font-weight: 400;
}
.review__review{
    color: #E2B024;
}
.review__title:hover .review__client{
    color: #E2B024;
}
.review__title:hover .review__review{
    color: white;
}
.reviews .swiper-pagination-bullet{
    height: 10px;
    width: 10px;
    background-color: white;
}  
.reviews .swiper-pagination-bullet{
    background-color: #ffffff;
}
.reviews .swiper-pagination-bullet-active{
    background-color: #E2B024;
}
.review__photo{
    transition: .5s;
}
.review__photo:hover{
    transform: scale(1.2);
}